

%p= @user.username

.hexagon-wrapper
  .hexagon-container
    - @images.each_slice(9) do |row|
      .hexagon-row
        - row.each do |media_item|
          .hexagon
            %img(src="#{media_item.images.thumbnail.url}")
