.page-login.container
  %h1 Login
  %p We need you to connect this app for us to be able to fetch all the images from instagram. You cannot try this lab without doing so.
  %p
    %a.btn.btn--large.btn-login{ href: "/oauth/connect", title: "Connect with Instagram" } Connect with Instagram