/**
 * @file
 * @group Modules
 * Sass Partial: modules/_clip-path.scss
 * 
 * Contains styling for clip paths.
 *
 * 1. Config - Configuration and variables
 * 2. Base - Basic styling
 */


/*
 * 1. Config
 ******************/


/*
 * 2. Base
 ******************/

.clip-path {
  height: 0;
  position: absolute;
  width: 0;
}